*{
    margin:0px;
    padding:0px;
    font-family:Poppins;
}
.container{
    width:100%;
    margin: auto;
    display: flex;
    align-items: center;
}
.container-main{
    width: 100%;
}
.container-main-top{
    width: 100%;
    height: 250px;
    margin:auto;
    display: flex;
}
.container-main-child-left{
    width: 30%;
}
.container-main-child-right{
    width: 70%;
}
.container-main-bottom{
    width: 100%;
    height: 920px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.297)
}
.container-main-bottom-top{
    width:100%;
    height:432px;
}
.container-main-bottom-bottom{
    width:100%;
    height:432px;
}
.promotion{
    margin:30px 0px 0px 40px;
}
.slide .child,.child{
    width: 100%;
    height: 70%;
    display: block;
}
.container-main-child{
    width: 60%;
    height: 100%;
    margin:auto;
    display: flex;
}
.slide .child .image{
    width: 63%;
    height: 80%;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.absulote-image{
    width: 35%;
    height: 25%;
    position: absolute;
}
.absulote-image img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    /* top: -10px; */
}
.slide .child .title{
    width:68%;
    height: 20%;
}
.checked{
    color:orange
}
.cover{
    object-fit: cover;
}
.cover,img{
    width: 100%;
    height: 100%;
}
h1{
    font-family: Poppins-Bold;
    width: 100%;
}
span{
    font-family:Poppins-Bold ;
}
.sub-top{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    margin-bottom: 2%;
}
.sub-bottom{
    width: 85%;
    height: 82%;
    margin:auto;
    position: relative;
}
.sub-bottom .slide-show{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.sub-top-title{
    font-family: Poppins-Bold;
    font-size: 20px;
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 10px 0px;
    position: relative;
}
.sub-top-title hr{
    position: absolute;
    width: 20%;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    border: 1.4px solid rgb(147, 18, 18);
    border-radius: 5px;
}
.title{
    text-align: center;
    margin: auto;
    font-size: 14px;
}
.title div p{
    margin-top:8px;
}
input[name="check"]{
    visibility: hidden;
    position: absolute;
}
.navigation{
    left: 50%;
    position: absolute;
    bottom:40px;
    transform: translate(-50%);
    display: flex;
}
.slides{
    width: 500%;
    height: 100%;
    display: flex;
}
.slide{
    width: 20%;
    transition: 0.6s;
    display: flex;
}
.bar{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid rgb(109, 102, 102);
    margin:10px;
    cursor:pointer;
    transition: 0.15s;
}
.bar:hover{
    background-color: orange;
    border:none;
}
#check1:checked ~ ._hover{
    margin-left: 0;
}
#check2:checked ~ ._hover{
    margin-left: -20%;
}
#check3:checked ~ ._hover{
    margin-left: -40%;
}
#check4:checked ~ ._hover{
    margin-left: -60%;
}
#check5:checked ~ ._hover{
    margin-left: -80%;
}
#check6:checked ~ .slide-hover{
    margin-left: 0;
}
#check7:checked ~ .slide-hover{
    margin-left: -20%;
}
#check8:checked ~ .slide-hover{
    margin-left: -40%;
}
#check9:checked ~ .slide-hover{
    margin-left: -60%;
}
#check10:checked ~ .slide-hover{
    margin-left: -80%;
}
