*{
    margin:0px;
    padding:0px;
    font-family: Poppins;
}
.container{
    width:100%;
    height: 800px;
    margin: auto;
    display: flex;
    align-items: center;
}
._main{
    width: 100%;
    height: 90%;
}
.top{
    width: 90%;
    height: 45%;
    margin:auto;
    display: flex;
    justify-content: space-between;
}
.left{
    width: 30%;
    height: 100%;
}
.right{
    width:70%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}
.slide .child,.child{
    width: 100%;
    height: 70%;
    display: block;
}
.child{
    height: 92%;
    display: flex;
}
.slide .child .image{
    width: 63%;
    height: 80%;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.slide .child .image a img{
    object-fit: cover;
}
.absulote-image{
    width: 35%;
    height: 25%;
    position: absolute;
}
.absulote-image img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    top: -10px;
}
.slide .child .title{
    width:68%;
    height: 20%;
}
.checked{
    color:orange
}
.cover{
    object-fit: cover;
}
.cover,img{
    width: 100%;
    height: 100%;
}
h1{
    font-family: Poppins-Bold;
    width: 60%;
}
.middle{
    width: 100%;
    height: 60%;
    background-color: rgba(255, 255, 255, 0.297);
}
.bottom{
    width: 100%;
    height: 850px;
    position: relative;
}
.bottom-container{
    width: 65%;
    height: 100%;
    margin:auto;
}
.middle .top{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    margin-bottom: 2%;
}
.middle .bottom{
    width: 85%;
    height: 82%;
    margin:auto;
    position: relative;
}
.middle .bottom .slide-show{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.top-title,.sub-container1-title{
    font-family: Poppins-Bold;
    font-size: 20px;
    width: 10%;
    margin: auto;
    text-align: center;
    padding: 10px 0px;
    position: relative;
}
.sub-container1-title{
    width:14%;
}
.top-title hr,.sub-container1-title hr{
    position: absolute;
    width: 50%;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    border: 1.4px solid rgb(147, 18, 18);
    border-radius: 5px;
}
.title{
    text-align: center;
    margin: auto;
    font-size: 14px;
}
.title div p{
    margin-top: 8px;
}
input[name="check"]{
    visibility: hidden;
    position: absolute;
}
.navigation{
    left: 50%;
    position: absolute;
    bottom:40px;
    transform: translate(-50%);
    display: flex;
}
.slides{
    width: 500%;
    height: 100%;
    display: flex;
}
.slide{
    width: 20%;
    transition: 0.6s;
    display: flex;
}
.bar{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid rgb(109, 102, 102);
    margin:10px;
    cursor:pointer;
    transition: 0.15s;
    margin-bottom: -10px;
}
.bar:hover{
    background-color: orange;
    border:none;
}
#check1:checked ~ ._hover{
    margin-left: 0;
}
#check2:checked ~ ._hover{
    margin-left: -20%;
}
#check3:checked ~ ._hover{
    margin-left: -40%;
}
#check4:checked ~ ._hover{
    margin-left: -60%;
}
#check5:checked ~ ._hover{
    margin-left: -80%;
}
#check6:checked ~ ._hover{
    margin-left: 0;
}
#check7:checked ~ ._hover{
    margin-left: -20%;
}
#check8:checked ~ ._hover{
    margin-left: -40%;
}
#check9:checked ~ ._hover{
    margin-left: -60%;
}
#check10:checked ~ ._hover{
    margin-left: -80%;
}
#check11:checked ~ ._hover{
    margin-left: 0;
}
#check12:checked ~ ._hover{
    margin-left: -20%;
}
#check13:checked ~ ._hover{
    margin-left: -40%;
}
#check14:checked ~ ._hover{
    margin-left: -60%;
}
#check15:checked ~ ._hover{
    margin-left: -80%;
}

.sub-container1{
    width: 100%;
    height: 12%;
    padding-top: 20px;
}
.sub-container2{
    width: 100%;
    height: 88%;
    display: flex;
    justify-content: space-between;
}
.sub-container2 ._left,.sub-container2 ._right{
    width: 45%;
    height: 80%;
}
.left-child,.right-child{
    width: 100%;
    height: 33%;
    display: flex;
}
.left-child-image,.right-child-image{
    width: 40%;
    height: 100%;
}
.left-child-title,.right-child-title{
    width: 60%;
    height: 100%;
}
.sub-left-child-title{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}
.left-child-image .categories-image,.right-child-image .categories-image{
    width: 100%;
    height: 100%;
    object-fit: fill;
    box-sizing: border-box;
    padding: 20px;
}

.sub-left-child-title p{
    font-family: Poppins-Medium;
    font-size:16px;
}
.sub-left-child-title .span{
    font-family: Poppins;
    font-size:12px;
}
.sub-left-child-title a{
    font-size:12px;
    color:blue;
}
