
*{
    margin:0px;
    padding:0px;
    font-family: "Poppins", sans-serif;
}
.container{
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
}
._main{
    width:70%;
    height:90%;
    margin:auto;
    display: flex;
    align-items: center;
    position: relative;
}
.left{
    width:35%;
    height:100%;
    background-color: rgb(202, 145, 70);
}
.right{
    width:65%;
    height:100%;
    background-color: white;
}
.main-absolute{
    width: 80%;
    height:87%;
    left: 4%;
    background-color: brown;
    position: absolute;
    display: flex;
    box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.2);
}
.main-absolute .left{
    width: 38.7%;
    height: 100%;
    background-color: rgb(202, 145, 70);
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.main-absolute .right{
    width: 61.3%;
    height: 100%;
    background-color: rgba(250,250,250,255);
    display: flex;
    align-items: center;
}
.left div p{
    font-family: Battambang;
    width:65%;
    margin: auto;
    font-size:11px;
    color:rgba(255, 255, 255, 0.744);
    font-weight: normal;
    margin-bottom: 24px;
    line-height: 18px;
}
.left div h3{
    color: white;
    font-size:22px;
    margin-bottom: 18px;
}
span{
    font-family: Battambang;
    font-size:22px;
    position: relative;
}
hr{
    width: 25px;
    bottom: 0px;
    left: 4px;
    position: absolute;
    color:white;
    border: 1.4px solid white;
    border-radius: 5px;
}
button{
    width:130px;
    font-size:11px;
    color:white;
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color:white;
    cursor: pointer;
    padding:5px 0px;
    transition:background-color 0.15s ;
}
button:hover{
    background-color: rgb(184, 138, 79);
}
.circle{
    width: 210px;
    height: 210px;
    border-radius: 105px;
    background-color:rgb(212, 155, 80);
    left: -120px;
    bottom:-120px;
    position: absolute;
}

.main-absolute .right ._main{
    width: 85%;
    height: 90%;
    background-color: white;
    box-shadow: 0px 0px 0.5px 0.1px rgba(0,0,0,0.2);
    display: block;
}
.right ._main .top{
    width: 100%;
    height: 16%;
    display: flex;
    align-items: center;
    text-align: center;
}
.right ._main form{
    height: 84%;
}
.right ._main form .bottom{
    height: 20%;
    display: block;
}
.right ._main .top div{
    margin: auto;
}
.right ._main .top div p{
    font-size: 10px;
    font-weight: 400;
}
.right ._main .top  div h3{
    font-size: 14px;
    color:rgb(202, 145, 70);
    margin-bottom: 2px;
}
.right ._main form .middle{
    width: 100%;
    height: 78%;
    background-color: white;
}
.checkBox{
    display: flex;
    margin-left: 18px;
    margin-top: 10px;
}
.selector{
    display: flex;
    margin-left: 0px;
    position: relative;
}
.checkBox p{
    color: rgb(122, 93, 55);
    font-size: 11px;
    font-weight: 600;
}
.selector li{
    list-style: none;
    margin-left: 40px;
    font-size: 10px;
}
.sign-up-button{
    text-align: center;
}
.sign-up-button button{
    width:130px;
    font-size:11px;
    color:white;
    background-color:rgb(202, 145, 70);
    border:none;
    cursor: pointer;
    padding:5px 0px;
    margin-top: 10px;
    transition: background-color 0.15s ;
}
.sign-up-button button:hover{
    background-color: rgb(184, 138, 79);
}
.sign-in {
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 9px;
}
.sign-in p{
    display: inline-block;
    font-size:10px;
}
.sign-in p span{
    font-size: 10px;
    color: rgba(136,107,191,255);
}
ul .male-check-box,ul .female-check-box{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border:none;
    background-color:rgb(248, 189, 112);
    position: absolute;
    margin-top: 3px;
    left: 25px;
}
ul .female-check-box{
    right: 0px;
    left: 89px;
}
.input{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.input div {
    width: 45%;
}
.input div input{
    width: 100%;
    font-size: 8px;
}
.input div input[type="text"],.input div input[type="password"]
{
    font-size:10px;
}
input{
    width: 50%;
    border: none;
    padding-bottom: 3px;
    border-bottom: 1px solid rgb(202, 145, 70);
    transition: 0.5s;
    margin-bottom: 0px;
}
input textarea:focus,input:focus{
    outline: none;
    content: "";
}
input:focus::-webkit-input-placeholder { 
    color:transparent;
    transition: color .15s;
}
.middle .main-input{
    width: 90%;
    margin: auto;
}
.main-input label{
    font-size: 11px;
    margin-bottom: 0px;
    color: rgb(122, 93, 55);
    font-weight: 600;
}
.sign-in p a{
    text-decoration: none;
    color:rgb(122, 93, 55);
}
.sign-in p a:hover{
    text-decoration: underline;
}
.sign-in p a:active{
    color: rgb(122, 93, 55);
}
