.box-tittle{
    width: 73%;
    height: 100px;
    margin: auto;
}
.square3{
    width: 100%;
    height: 100%;
}
.square{
    width: 100%;
    overflow: hidden;
    margin: auto;
    font-size: 24px;
    font-weight: bold;
    color: rgb(46, 45, 45);
    font-family: Battambang;
}
h6{
    font-size: 18px;
    font-family: Poppins;
}
.slay{
    width: 80%;
    height: 420px;
    margin: auto;
}
.swiper{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.card1{
    width: 80%;
    height: 460px;
    margin: auto;
}

h1{
    font-family: Battambang;
    color: rgb(46, 45, 45);
    font-size: 35px;
    margin-top: 35px;
}
hr{
    margin-bottom: 35px;
}
.main-card1{
    width: 100%;
    height: 350px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card1-box1,
.card1-box2,
.card1-box3{
    width: 26%;
    height: 100%;
    border-radius: 10px;
}
.card1-img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 0.3s;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.2);
    transition: transform 0.5s;
}
.card1-img:hover{
    transform: scale(1.05);
}
.card2{
    width: 80%;
    height: auto;
    margin: auto;
}
.main-card2,.main-card3{
    width: 100%;
    height:320px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.card2-box{
    width: 18%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
    background-color: rgba(245,222,180,255);
    overflow: hidden;
}
.card2-pic{
    width: 100%;
    height: 240px;
    overflow: hidden;
}
.card2-pic img{
    width: 100%;
    height: 240px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 15px;
    transition: 0.5s;
}
.picture:hover{
    transform: scale(1.05);
}
h3 {
    width: 90%;
    margin-left: 10px;
    color: rgb(58, 55, 55) ;
    font-size: 14px;
    margin-top: 10px;
}
p{
    font-family:Battambang;
    margin-left: 12px;
    color: rgb(215, 31, 31) ;
    font-size: 14px;
}
.card2-pic:hover picture{
    transform: scale(1.05);
}
.main-card2{
    margin-top: 0px;
}
.name{
    width: 100%;
    height: 40px;
    /* background-color: bisque; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.child-name{
    width: 100%;
    height: 30px;
    background-color: white ;

}
.tutu{
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    color:rgb(58, 55, 55) ;
}